*.js
*.js.map
*.log
!scripts/*.js
!postinstall.js
!preuninstall.js
!lib/before-prepare.js
!lib/after-prepare.js
demo/app/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
demo/app/App_Resources/iOS/LPMessagingSDKModels.bundle
demo/**/*.d.ts
!demo/references.d.ts
demo/lib
demo/platforms
demo/node_modules
node_modules
.idea/
.vscode/
.nsprepareinfo
.DS_Store